$accentColor = lighten(#6699ff, 0%)

$textColor = #1e2d4c
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #fff
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

* {
  font-family: 'Courier New', Courier, monospace
}